# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
appenv/

# Environment and secret files
.env
*.key
*.pem

# Uploads and data
uploads/
Csvdata/

# System / IDE files
.DS_Store
*.log

# IDEs
.vscode/
.idea/

# OS files (Windows)
Thumbs.db
desktop.ini